@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  color: #606266;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}
/*一标三实样式代码*/
.el-link{
  font-size: 10px;
}
.text-right {
  text-align: right;
}
.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}
.text-28px {
  font-size: 28px;
  line-height: 1;
}
.text-14px{
  font-size: 14px;
  line-height: 1;
}
.pb-3px{
  padding-bottom: 3px;
}
.font-bold{
  font-weight: 700;
}
.text-hex-3E8FFF{
  --tw-text-opacity: 1;
  color: rgba(62,143,255,var(--tw-text-opacity))
}
.text-hex-505D69 {
  --tw-text-opacity: 1;
  color: rgba(80,93,105,var(--tw-text-opacity));
}
ul{
  list-style: none;
}
/////////////////
.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 6px 20px;
  margin: 15px;
  background: #fff;
  height: calc(100vh - 115px);
  overflow: auto;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.app-container-gis {
  //适用于内容填充部分为整体无间距
  background: transparent;
  border-radius: 10px;
  height: calc(100vh - 84px);
  &::after {
      content: '';
      display: table;
      clear: both;
  }
}

.card-wrap {
  height: 100px !important;
}

.group-area {
  height: auto;
  overflow: auto;
  margin-top: 20px;
  .group-item-hover {
    cursor: pointer;
    .flexbox {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .group-item {
      margin: 0px 20px 0px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .item-name {
        font-size: 14px;
        line-height: 34px;
      }
    }
    .margin-left-35 {
      margin-left: 35px;
    }
    &:hover {
      background-color: #F5F7FA;
      .controls {
        opacity: 1;
      }
    }
  }
}

.video-web-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-tree-edit {
  .el-button {
      font-size: 16px;
      border-color: transparent;
      background-color: transparent;
      padding: 0;
      margin: 0;
  }
}
// 搜索按钮低于输入框
.el-button, .el-input__inner {
  vertical-align: bottom;
}

.el-dialog__body {
  .el-row {
    display: flex;
    flex-wrap: wrap;
    .el-form-item--small .el-form-item__label {
      height: 32px;
      line-height: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.avatar-uploader {
  .el-upload {
    width: 118px;
    height: 118px;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    // background-color: #2c3e50;
    &:hover {
      border-color: #409EFF;
    }
    .avatar-uploader-icon {
      font-size: 28px;
      line-height: 118px !important;
      text-align: center;
    }
    .avatar {
      width: 100%;
      height: 100%;
    }
    .el-icon-plus:before {
      opacity: 0.2;
      font-size: 44px;
    }
  }
}

.upload__tip {
  margin-left: 10px;
}
// 改变确定取消按钮位置
.el-message-box__btns {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.labelClass,.contentClass{
  font-size: 14px !important;
}
::v-deep .el-table th.el-table__cell {
  user-select: initial !important;
}

::v-deep *{
  -webkit-touch-callout: text !important; /* iOS Safari */
  -webkit-user-select: initial !important; /* Chrome/Safari/Opera */
  -khtml-user-select: initial !important; /* Konqueror */
  -moz-user-select: initial !important; /* Firefox */
  -ms-user-select: initial !important; /* Internet Explorer/Edge */
  user-select: initial !important;
  /* Non-prefixed version, currently not supported by any browser */
}
